@model Good_Times2._0.Models.Reservering

@{
    ViewData["Title"] = "Create";
}


<h4>Nieuwe Reservering</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefoonnummer" class="control-label"></label>
                <input asp-for="Telefoonnummer" class="form-control" />
                <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalPersonen" class="control-label"></label>
                <input asp-for="AantalPersonen" class="form-control" />
                <span asp-validation-for="AantalPersonen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Begintijd" class="control-label"></label>
                <input asp-for="Begintijd" class="form-control" />
                <span asp-validation-for="Begintijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eindtijd" class="control-label"></label>
                <input asp-for="Eindtijd" class="form-control" />
                <span asp-validation-for="Eindtijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opmerkingen" class="control-label"></label>
                <textarea asp-for="Opmerkingen" class="form-control"></textarea>
                <span asp-validation-for="Opmerkingen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Reserveer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $( "#Begintijd" ).blur(function() {
 //Maak hier die Eindtijd +2

});
    </script>

}

